################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonReader.App/obj
/JsonReader.App/bin
/.vs
/JsonReader.App/JsonReader.App.csproj.user
