################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonReader.App/obj
/JsonReader.App/bin
/.vs
/JsonReader.App/JsonReader.App.csproj.user
/JsonReader.App/.vs
/JsonReader.Common/bin
/JsonReader.Common/obj
/JsonReader.Model/obj
/JsonReader.Model/bin
/JsonReader.ViewModel/obj
